*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFF;

    --grey-100: #AFAFAF;
    --grey-200: #525252; //Divisor
    --grey-700: #15171b; //Background header
    --grey-900: #111113; //Backgound body

    --blue-900: #1fa4e5; //CTA - Buttons
    --yellow-500: #FFBE16;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

body{
    // background: var(--grey-900);
}

body, input, textarea, select, button{
    font: 400 1rem 'Poppins', sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}