.headerContainer{
    height: 6rem;
    border-bottom: 1px solid var(--grey-200);
    // background: var(--grey-700);
}

.headerContent{
    max-width: 1120px;
    height: 6rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    img{
        cursor: pointer;
    }

    nav{
        margin-left: 5rem;
        height: 6rem;

        a{
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 6rem;
            line-height: 6rem;
            // color: var(--grey-100);
            transition: color 0.2s;
            
            & + a{
                margin-left: 2rem;
            }
            
            &:hover{
                // color: var(--white);
                color: var(--blue-900);
            }

            &.active{
                // color: var(--yellow-500);
                color: var(--blue-900);
                font-weight: bold;
            }
        }
    }
}

.readyBotton{
    margin-left: auto;
    height: 3rem;
    border-radius: 3rem;
    background: var(--blue-900);
    border:0;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: bold;  
    transition: filter 0.2s;

    &:hover{
        filter: brightness(1.1);
    }
}

//responsividade para pagina menor que 870px
@media (max-width: 870px){
    .headerContainer{
        height: 11rem;
        padding: 00.5rem 0;
    }

    .headerContent{
        display: flex;
        flex-direction: column;

        nav{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .readyBotton{
            display: none;
        }
    }
}